## Serial correlation

In [18]:
from __future__ import print_function, division

%matplotlib inline

import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

import numpy as np
import pandas as pd

import random

import thinkstats2
import thinkplot

In [19]:
transactions = pd.read_csv('mj-clean.csv', parse_dates=[5])
transactions.head()

,city,state,price,amount,quality,date,ppg,state.name,lat,lon
0,Annandale,VA,100,7.075,high,2010-09-02,14.13,Virginia,38.830345,-77.213870
1,Auburn,AL,60,28.300,high,2010-09-02,2.12,Alabama,32.578185,-85.472820
2,Austin,TX,60,28.300,medium,2010-09-02,2.12,Texas,30.326374,-97.771258
3,Belleville,IL,400,28.300,high,2010-09-02,14.13,Illinois,38.532311,-89.983521
4,Boone,NC,55,3.540,high,2010-09-02,15.54,North Carolina,36.217052,-81.687983

In [47]:
def GroupByDay(transactions, func=np.mean):
    
    grouped = transactions[['date', 'ppg']].groupby('date') #使用groupby， 对应 ppg 和date，直接 groupby date
    #print(grouped)
    daily = grouped.aggregate(func) #调用 mean函数，得出每天ppg的平均值
    #print(daily)
    daily['date'] = daily.index
    start = daily.date[0] #取得开始统计那一天
    one_year = np.timedelta64(1,'Y') #量化一年的值
    daily['years'] = (daily.date - start)/one_year #定义新一列year，等于当前值减去start，除以一年
    
    return daily

In [48]:
GroupByDay(transactions) #出来的结果是index为 date数据为 ppg的 dataframe

                  ppg       date     years
date
2010-09-02  11.727733 2010-09-02  0.000000
2010-09-03  11.972892 2010-09-03  0.002738
2010-09-04  13.752500 2010-09-04  0.005476
2010-09-05  15.113333 2010-09-05  0.008214
2010-09-06  15.537500 2010-09-06  0.010952
2010-09-07  12.715000 2010-09-07  0.013690
2010-09-08  14.342000 2010-09-08  0.016427
2010-09-09  12.710000 2010-09-09  0.019165
2010-09-10   4.240000 2010-09-10  0.021903
2010-09-11  15.540000 2010-09-11  0.024641
2010-09-12  11.310000 2010-09-12  0.027379
2010-09-13  13.505000 2010-09-13  0.030117
2010-09-14  11.841732 2010-09-14  0.032855
2010-09-15  11.341676 2010-09-15  0.035593
2010-09-16  11.144136 2010-09-16  0.038331
2010-09-17  11.670000 2010-09-17  0.041069
2010-09-18  11.403106 2010-09-18  0.043807
2010-09-19  11.879924 2010-09-19  0.046544
2010-09-20  11.734619 2010-09-20  0.049282
2010-09-21  11.421053 2010-09-21  0.052020
2010-09-22  11.503767 2010-09-22  0.054758
2010-09-23  11.071280 2010-09-23  0.057496
2010-09-24  10.969710 2010-09-24  0.060234
2010-09-25  10.665747 2010-09-25  0.062972
2010-09-26  11.431181 2010-09-26  0.065710
2010-09-27  12.010054 2010-09-27  0.068448
2010-09-28   9.951899 2010-09-28  0.071186
2010-09-29  11.545577 2010-09-29  0.073923
2010-09-30  11.597421 2010-09-30  0.076661
2010-10-01  11.350423 2010-10-01  0.079399
...               ...        ...       ...
2014-04-14  10.439490 2014-04-14  3.614037
2014-04-15  10.212698 2014-04-15  3.616775
2014-04-16  10.407213 2014-04-16  3.619513
2014-04-17  10.112419 2014-04-17  3.622251
2014-04-18  10.303855 2014-04-18  3.624989
2014-04-19  10.720500 2014-04-19  3.627727
2014-04-20   9.643947 2014-04-20  3.630465
2014-04-21  10.080577 2014-04-21  3.633203
2014-04-22   9.719516 2014-04-22  3.635941
2014-04-23  10.089321 2014-04-23  3.638678
2014-04-24  11.453043 2014-04-24  3.641416
2014-04-25   9.886613 2014-04-25  3.644154
2014-04-26  10.563537 2014-04-26  3.646892
2014-04-27  10.266974 2014-04-27  3.649630
2014-04-28   9.526376 2014-04-28  3.652368
2014-04-29   9.579369 2014-04-29  3.655106
2014-04-30  10.305566 2014-04-30  3.657844
2014-05-01   9.718118 2014-05-01  3.660582
2014-05-02  10.113053 2014-05-02  3.663320
2014-05-03   9.031389 2014-05-03  3.666057
2014-05-04   9.565746 2014-05-04  3.668795
2014-05-05  10.171105 2014-05-05  3.671533
2014-05-06  10.243488 2014-05-06  3.674271
2014-05-07   9.956612 2014-05-07  3.677009
2014-05-08   8.941111 2014-05-08  3.679747
2014-05-09  10.550241 2014-05-09  3.682485
2014-05-10   9.823366 2014-05-10  3.685223
2014-05-11   9.626667 2014-05-11  3.687961
2014-05-12   9.504059 2014-05-12  3.690699
2014-05-13   9.410260 2014-05-13  3.693437

[1243 rows x 3 columns]

In [52]:
def GroupByQualityAndDay(transactions):
    
    groups = transactions.groupby('quality') #把原数据传进，groupby quality
    dailies = {} #空 dict
    for name, group in groups:
        #print('name:' ,name, 'group:',group) 
        dailies[name] = GroupByDay(group)
        
    return dailies

In [53]:
dailies = GroupByQualityAndDay(transactions)

In [54]:
dailies

{'high':                   ppg       date     years
 date
 2010-09-02  13.384186 2010-09-02  0.000000
 2010-09-03  14.459588 2010-09-03  0.002738
 2010-09-04  14.923333 2010-09-04  0.005476
 2010-09-05  16.667500 2010-09-05  0.008214
 2010-09-06  15.537500 2010-09-06  0.010952
 2010-09-07  12.715000 2010-09-07  0.013690
 2010-09-08  13.865000 2010-09-08  0.016427
 2010-09-11  15.540000 2010-09-11  0.024641
 2010-09-12  11.310000 2010-09-12  0.027379
 2010-09-13  13.300000 2010-09-13  0.030117
 2010-09-14  13.670207 2010-09-14  0.032855
 2010-09-15  13.510101 2010-09-15  0.035593
 2010-09-16  13.483694 2010-09-16  0.038331
 2010-09-17  13.234431 2010-09-17  0.041069
 2010-09-18  13.656053 2010-09-18  0.043807
 2010-09-19  13.915778 2010-09-19  0.046544
 2010-09-20  13.769322 2010-09-20  0.049282
 2010-09-21  13.578381 2010-09-21  0.052020
 2010-09-22  13.563624 2010-09-22  0.054758
 2010-09-23  13.644103 2010-09-23  0.057496
 2010-09-24  13.050305 2010-09-24  0.060234
 2010-09-25  12.906000 2010-09-25  0.062972
 2010-09-26  13.819722 2010-09-26  0.065710
 2010-09-27  14.509123 2010-09-27  0.068448
 2010-09-28  12.676905 2010-09-28  0.071186
 2010-09-29  13.755075 2010-09-29  0.073923
 2010-09-30  13.556000 2010-09-30  0.076661
 2010-10-01  13.169030 2010-10-01  0.079399
 2010-10-02  13.002157 2010-10-02  0.082137
 2010-10-03  13.541899 2010-10-03  0.084875
 ...               ...        ...       ...
 2014-04-14  11.124048 2014-04-14  3.614037
 2014-04-15  10.552581 2014-04-15  3.616775
 2014-04-16  10.332857 2014-04-16  3.619513
 2014-04-17  11.031607 2014-04-17  3.622251
 2014-04-18  11.269863 2014-04-18  3.624989
 2014-04-19  11.841000 2014-04-19  3.627727
 2014-04-20  10.712308 2014-04-20  3.630465
 2014-04-21  10.984795 2014-04-21  3.633203
 2014-04-22  10.760217 2014-04-22  3.635941
 2014-04-23  10.920000 2014-04-23  3.638678
 2014-04-24  10.250833 2014-04-24  3.641416
 2014-04-25  10.482462 2014-04-25  3.644154
 2014-04-26  11.379254 2014-04-26  3.646892
 2014-04-27  11.482391 2014-04-27  3.649630
 2014-04-28  10.784516 2014-04-28  3.652368
 2014-04-29  11.750556 2014-04-29  3.655106
 2014-04-30  11.212727 2014-04-30  3.657844
 2014-05-01  10.286923 2014-05-01  3.660582
 2014-05-02  12.260000 2014-05-02  3.663320
 2014-05-03   9.942941 2014-05-03  3.666057
 2014-05-04  10.552459 2014-05-04  3.668795
 2014-05-05  11.290244 2014-05-05  3.671533
 2014-05-06  11.199710 2014-05-06  3.674271
 2014-05-07  12.064058 2014-05-07  3.677009
 2014-05-08   9.953333 2014-05-08  3.679747
 2014-05-09  11.468298 2014-05-09  3.682485
 2014-05-10  10.532326 2014-05-10  3.685223
 2014-05-11  11.518750 2014-05-11  3.687961
 2014-05-12  10.578293 2014-05-12  3.690699
 2014-05-13   9.604615 2014-05-13  3.693437

 [1241 rows x 3 columns], 'low':                   ppg       date     years
 date
 2010-09-02   4.943750 2010-09-02  0.000000
 2010-09-03   3.984138 2010-09-03  0.002738
 2010-09-04   3.530000 2010-09-04  0.005476
 2010-09-10   4.240000 2010-09-10  0.021903
 2010-09-14   6.066118 2010-09-14  0.032855
 2010-09-15   5.326774 2010-09-15  0.035593
 2010-09-16   4.540000 2010-09-16  0.038331
 2010-09-17   6.365000 2010-09-17  0.041069
 2010-09-18   5.415000 2010-09-18  0.043807
 2010-09-19   5.776667 2010-09-19  0.046544
 2010-09-20   5.336250 2010-09-20  0.049282
 2010-09-21   4.589412 2010-09-21  0.052020
 2010-09-22   3.995833 2010-09-22  0.054758
 2010-09-23   3.838636 2010-09-23  0.057496
 2010-09-24   4.886154 2010-09-24  0.060234
 2010-09-25   3.665000 2010-09-25  0.062972
 2010-09-26   6.463846 2010-09-26  0.065710
 2010-09-27   5.039474 2010-09-27  0.068448
 2010-09-28   3.205714 2010-09-28  0.071186
 2010-09-29   4.978148 2010-09-29  0.073923
 2010-09-30   5.621250 2010-09-30  0.076661
 2010-10-01   4.352857 2010-10-01  0.079399
 2010-10-02   4.425385 2010-10-02  0.082137
 2010-10-03   5.206429 2010-10-03  0.084875
 2010-10-04   3.285000 2010-10-04  0.087613
 2010-10-05   3.390000 2010-10-05  0.090351
 2010-10-06   4.976364 2010-10-06  0.093089
 2010-10-07   5.376667 2010-10-07  0.095827
 2010-10-08   3.332000 2010-10-08  0.098565
 2010-10-09   3.416667 2010-10-09  0.101303
 ...               ...        ...       ...
 2014-04-12   7.415714 2014-04-12  3.608561
 2014-04-13   8.825000 2014-04-13  3.611299
 2014-04-14   8.023333 2014-04-14  3.614037
 2014-04-15   8.201667 2014-04-15  3.616775
 2014-04-16   6.090000 2014-04-16  3.619513
 2014-04-17   4.003333 2014-04-17  3.622251
 2014-04-18   3.533333 2014-04-18  3.624989
 2014-04-19   4.950000 2014-04-19  3.627727
 2014-04-20   6.355000 2014-04-20  3.630465
 2014-04-21   6.356667 2014-04-21  3.633203
 2014-04-22   4.210000 2014-04-22  3.635941
 2014-04-23   8.751111 2014-04-23  3.638678
 2014-04-25   4.695000 2014-04-25  3.644154
 2014-04-26   3.632500 2014-04-26  3.646892
 2014-04-27   3.530000 2014-04-27  3.649630
 2014-04-28   5.120000 2014-04-28  3.652368
 2014-04-29   8.300000 2014-04-29  3.655106
 2014-04-30   7.272857 2014-04-30  3.657844
 2014-05-01   4.577143 2014-05-01  3.660582
 2014-05-02   2.943333 2014-05-02  3.663320
 2014-05-03   4.006667 2014-05-03  3.666057
 2014-05-04   4.300000 2014-05-04  3.668795
 2014-05-05  12.488000 2014-05-05  3.671533
 2014-05-06   6.886667 2014-05-06  3.674271
 2014-05-07   5.533750 2014-05-07  3.677009
 2014-05-09  14.700000 2014-05-09  3.682485
 2014-05-10  10.332857 2014-05-10  3.685223
 2014-05-11   3.336667 2014-05-11  3.687961
 2014-05-12   3.270000 2014-05-12  3.690699
 2014-05-13   4.447778 2014-05-13  3.693437

 [1179 rows x 3 columns], 'medium':                   ppg       date     years
 date
 2010-09-02  11.021250 2010-09-02  0.000000
 2010-09-03   8.055000 2010-09-03  0.002738
 2010-09-04  16.950000 2010-09-04  0.005476
 2010-09-05  12.005000 2010-09-05  0.008214
 2010-09-08  16.250000 2010-09-08  0.016427
 2010-09-09  12.710000 2010-09-09  0.019165
 2010-09-13  14.120000 2010-09-13  0.030117
 2010-09-14   9.949200 2010-09-14  0.032855
 2010-09-15   9.211096 2010-09-15  0.035593
 2010-09-16   8.737500 2010-09-16  0.038331
 2010-09-17   9.886552 2010-09-17  0.041069
 2010-09-18   9.733684 2010-09-18  0.043807
 2010-09-19   7.992121 2010-09-19  0.046544
 2010-09-20   9.554573 2010-09-20  0.049282
 2010-09-21   8.945181 2010-09-21  0.052020
 2010-09-22   8.804537 2010-09-22  0.054758
 2010-09-23   7.706806 2010-09-23  0.057496
 2010-09-24   7.898730 2010-09-24  0.060234
 2010-09-25   7.865417 2010-09-25  0.062972
 2010-09-26   8.874048 2010-09-26  0.065710
 2010-09-27   9.020784 2010-09-27  0.068448
 2010-09-28   7.711000 2010-09-28  0.071186
 2010-09-29   8.369524 2010-09-29  0.073923
 2010-09-30   9.128571 2010-09-30  0.076661
 2010-10-01   9.108462 2010-10-01  0.079399
 2010-10-02   8.680227 2010-10-02  0.082137
 2010-10-03   9.089189 2010-10-03  0.084875
 2010-10-04   9.648000 2010-10-04  0.087613
 2010-10-05   8.973333 2010-10-05  0.090351
 2010-10-06   7.558636 2010-10-06  0.093089
 ...               ...        ...       ...
 2014-04-14  10.033774 2014-04-14  3.614037
 2014-04-15  10.271538 2014-04-15  3.616775
 2014-04-16  10.829344 2014-04-16  3.619513
 2014-04-17   9.602462 2014-04-17  3.622251
 2014-04-18   9.746000 2014-04-18  3.624989
 2014-04-19   9.844737 2014-04-19  3.627727
 2014-04-20   9.030247 2014-04-20  3.630465
 2014-04-21   9.395125 2014-04-21  3.633203
 2014-04-22   9.513750 2014-04-22  3.635941
 2014-04-23   9.406184 2014-04-23  3.638678
 2014-04-24  12.764545 2014-04-24  3.641416
 2014-04-25   9.389298 2014-04-25  3.644154
 2014-04-26  10.209211 2014-04-26  3.646892
 2014-04-27   8.751429 2014-04-27  3.649630
 2014-04-28   8.889753 2014-04-28  3.652368
 2014-04-29   7.430980 2014-04-29  3.655106
 2014-04-30   9.658585 2014-04-30  3.657844
 2014-05-01   9.538864 2014-05-01  3.660582
 2014-05-02   8.515106 2014-05-02  3.663320
 2014-05-03   9.005000 2014-05-03  3.666057
 2014-05-04   8.931571 2014-05-04  3.668795
 2014-05-05   9.167670 2014-05-05  3.671533
 2014-05-06   9.262632 2014-05-06  3.674271
 2014-05-07   8.918585 2014-05-07  3.677009
 2014-05-08   7.928889 2014-05-08  3.679747
 2014-05-09   9.037059 2014-05-09  3.682485
 2014-05-10   9.155686 2014-05-10  3.685223
 2014-05-11   8.138214 2014-05-11  3.687961
 2014-05-12   8.959655 2014-05-12  3.690699
 2014-05-13   9.810625 2014-05-13  3.693437

 [1238 rows x 3 columns]}

In [55]:
def SerialCorr(series, lag=1):
    xs = series[lag:]
    ys = series.shift(lag)[lag:]
    corr = thinkstats2.Corr(xs,ys)
    return corr

In [56]:
filled_dailies = {}
for name, daily in dailies.items():
    filled_dailies[name] = FillMissing(daily, span=30)

NameError: name 'FillMissing' is not defined